@font-face {
  font-family: "Raleway";
  font-weight: normal;
  font-style: normal;
  //font-display: auto;
  unicode-range: U+000-5FF;
  src: local("Raleway"),
    url("~@/assets/fonts/Raleway/static/Raleway-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-weight: normal;
  font-style: italic;
  //font-display: auto;
  unicode-range: U+000-5FF;
  src: local("Raleway"),
    url("~@/assets/fonts/Raleway/static/Raleway-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-weight: bold;
  font-style: normal;
  //font-display: auto;
  unicode-range: U+000-5FF;
  src: local("Raleway"),
    url("~@/assets/fonts/Raleway/static/Raleway-Bold.ttf") format("truetype");
}

body {
  font-size: 1.8rem;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
  font-family: "Raleway", "Open Sans", sans-serif;
  letter-spacing: 0.5px;
  color: var(--color-text-dark-blue);
}

h1 {
  font-size: 4.5rem;
  font-weight: 500;
  //line-height: 1em;
  color: var(--color-blue);
}

h2 {
  font-size: 3rem;
  font-weight: bold;
  //line-height: 1em;
  letter-spacing: 1.2px;
  color: var(--color-blue);
}

h3 {
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 1.2;
}

p {
  line-height: 2;
}

.text-small {
  font-size: 1.6rem;

  p {
    line-height: 1.5;
  }

  //margin-bottom: 1em;
}
