// UTILITIES

.u-grid-span-cols {
  grid-column: 1 / -1;
}

.u-text-align-center {
  text-align: center;
}

.u-padding-content {
  padding: 1em 2em;
}

.u-space-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.u-margin-top-huge {
  margin-top: 10rem;
}

.u-margin-top-big {
  margin-top: 8rem;
}

.u-margin-top-medium {
  margin-top: 5rem;
}

.u-margin-top-small {
  margin-top: 2rem;
}

.u-margin-bottom-huge {
  margin-bottom: 10rem;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-bottom-medium {
  margin-bottom: 5rem;
}

.u-margin-bottom-small {
  margin-bottom: 2rem;
}

.u-color-error {
  color: rgb(255, 38, 0);
}

.u-overflow-hidden {
  overflow: hidden;
}
